<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Selfie Station
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Selfie Station</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-item>
      <ion-img class="images" src="assets/selfies.png
      "></ion-img>
  </ion-item>

  <div class="row">
    
    <div class="about">Your phone not cutting it? Check out our online photo booth to take and store your selfies!</div>
    
  </div>

  
</ion-content>
